# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overridden by the Spring profile you use,
# for example application-dev.yml if you use the "dev" profile.
#
# More information on profiles: https://jhipster.github.io/profiles/
# More information on configuration properties: https://jhipster.github.io/common-application-properties/
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

management:
    security:
        roles: ADMIN
    context-path: /management
    health:
        mail:
            enabled: false # When using the MailService, configure an SMTP server and set this to true
spring:
    application:
        name: ojo
    profiles:
        # The commented value for `active` can be replaced with valid Spring profiles to load.
        # Otherwise, it will be filled in by maven when building the WAR file
        # Either way, it can be overridden by `--spring.profiles.active` value passed in the commandline or `-Dspring.profiles.active` set in `JAVA_OPTS`
        active: #spring.profiles.active#
    jackson:
        serialization.write_dates_as_timestamps: false
    jpa:
        open-in-view: false
        hibernate:
            ddl-auto: none
            naming:
                physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
                implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    messages:
        basename: i18n/messages
    mvc:
        favicon:
            enabled: false
    thymeleaf:
        mode: XHTML

#oauth2.issuer: https://dev-158606.oktapreview.com/oauth2/default
#http://localhost:8180/auth/realms/master/.well-known/openid-configuration
oauth2.issuer: http://localhost:8180/auth/realms/master

security:
    basic:
        enabled: false
    oauth2:
        client:
            #accessTokenUri: ${oauth2.issuer}/v1/token
            accessTokenUri: ${oauth2.issuer}/protocol/openid-connect/token
            #userAuthorizationUri: ${oauth2.issuer}/v1/authorize
            userAuthorizationUri: ${oauth2.issuer}/protocol/openid-connect/auth
            clientId: 0oabxuli6b3nTccfp0h7
            #clientSecret: wf7Z-mf_FfUU_oDL62-gtd-obCDhz96u0786h06r
            clientSecret: 38561a05-6691-4c88-8515-d0a4b1e420a9
            clientAuthenticationScheme: form
            scope: openid profile email
        resource:
            #userInfoUri: ${oauth2.issuer}/v1/userinfo
            userInfoUri: ${oauth2.issuer}/protocol/openid-connect/userinfo
            preferTokenInfo: true

server:
    session:
        cookie:
            http-only: true

info:
    project:
        version: #project.version#

# ===================================================================
# JHipster specific properties
#
# Full reference is available at: https://jhipster.github.io/common-application-properties/
# ===================================================================

jhipster:
    async:
        core-pool-size: 2
        max-pool-size: 50
        queue-capacity: 10000
    # By default CORS is disabled. Uncomment to enable.
    #cors:
        #allowed-origins: "*"
        #allowed-methods: GET, PUT, POST, DELETE, OPTIONS
        #allowed-headers: "*"
        #exposed-headers:
        #allow-credentials: true
        #max-age: 1800
    mail:
        from: ojo@localhost
    swagger:
        default-include-pattern: /api/.*
        title: ojo API
        description: ojo API documentation
        version: 0.0.1
        terms-of-service-url:
        contact-name:
        contact-url:
        contact-email:
        license:
        license-url:
    ribbon:
        display-on-active-profiles: dev

# ===================================================================
# Application specific properties
# Add your own application properties here, see the ApplicationProperties class
# to have type-safe configuration, like in the JHipsterProperties above
#
# More documentation is available at:
# https://jhipster.github.io/common-application-properties/
# ===================================================================

application:
